<!-- <div class="container" style="padding-top: 50px; padding-bottom: 80px;">
  
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

</div> <!-- /container --> -->
<div class="container" style="padding-top: 50px; padding-bottom: 80px;">

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>
<% end %>
</div>